.review-block
  .avatar
    %img{src: '/images/avatar1.jpg'}

  .content
    .name
      Александр Петраков
    .text
      Моя машина попала под сильнейший град и на следующий день я насчитал более 100 вмятин.
      В дилерском центре Nissan мне объявили, что необходимо заменить крышу, капот и багажник. Назвали мне цену более 250 000 рублей.
      В VIP Авторемонт стоимость ремонта оценели в 70 000 рублей. Сказали, что сделают без покраски. Я сначала не поверил, но после ремонта не нашел даже и следа ни от одной вмятины.
      А самое главное, машина осталась не крашенная. Всем рекомендую, ребята просто волшебники!


.review-block
  .avatar
    %img{src: '/images/avatar4.jpg'}
  .content
    .name
      Елена Владимировна
    .text
      Однажды рано утром я обнаружила свою зайку с сильной вмятиной от удара ногой.
      Переднее крыло в четырех автосервисах приговорила к замене и тут мне попалась визитка этого сервиса.
      Я поверила на слова мастеру и совсем не жалею. От вмятины ни следа не осталось.
      А  других автосервисах работают одни обманщики. Огромное спасибо VIP-y.


.review-block
  .avatar
    %img{src: '/images/avatar2.jpg'}
  .content
    .name
      Евгений Викторович
    .text
      Перед продажей, на крышку моей машины упал огромный сук от дерева.
      В диллерском центре сказали менять крышу со срезкой стекол и разборкой всего салона ( со сроком работы около 3 недель) -
      стоимостью в 75 000 рублей. Продажа машины была под угрозой.
      Знакомый рассказал про «VIP Авторемонт». Деваться было некуда.
      Вся работа обошлась в 9 000 рублей, крыша как новая. На следующий день покупатель ничего не заметил, машина продана.
      На сэкономленные деньги поеду в Египет. Ребта работают быстро и качественно. Молодцы!!!


.review-block
  .avatar
    %img{src: '/images/avatar3.jpg'}
  .content
    .name
      Сергей Петрович
    .text
      У меня есть свой небольшой автопарк. Однажды мне надо было сделать быстро на одной машине заднее крыло после аварии.
      В других сервисах называли сроки от 10 дней (доставка, замена, покраска). А простой одного дня моей машины стоит 1 500 рублей.
      Мастера этого сервиса отремонтировали крыло за 1 день. Я сэкономил 13 500 рублей.
      После нескольких отремонтированных авто, я решил заключить с «VIP Авторемонт» договор на обслуживание наших машин.
      Теперь я уверен, что даже кузовной ремонт ребята сделают без шпатлевки, намного быстрее конкурентов.
      Спасибо за выгодное сотрудничество.

